.idea
TimberAPI
Timberborn/
Timberborn.GameDistrictsUI
Timberborn.WorkSystemUI
packages
AutomaticBeaverMigration/.idea/
AutomaticBeaverMigration/obj/
AutomaticBeaverMigration/bin/
Bucket/.idea
Bucket/obj
Bucket/bin
TobbertMods.sln.DotSettings.user
TobbertMods.sln