.idea
TimberAPI
Timberborn/
Timberborn.GameDistrictsUI
Timberborn.WorkSystemUI
packages
AutomaticBeaverTransfer/.idea
AutomaticBeaverTransfer/obj
AutomaticBeaverTransfer/bin
TobbertMods.sln.DotSettings.user